{% extends "html/main_template.html" %}

{% load staticfiles %}
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>

{% block title %}Edit Facets{% endblock %}

{% block menu %}
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'myfacets' %}">My Facets</a> </li>
        <li><a href="{% url 'newfacet' %}">Add New Facet</a></li>
        <li class="active"><a href="{% url 'editfacet' %}">Edit a Facet</a></li>
        <li><a href="{% url 'history' %}">History</a></li>
    </ul>
{% endblock %}

{% block res_content %}
    <!--<script type="text/javascript" src="{%  static 'RadFa_py/js/addKey.js'%}"></script>-->


<script type="text/javascript">
    $(document).ready(function() {

        var keyList = [];
        var phList = []

        {% for i in results.keys %}
            var row =  ['{{i}}'];
            keyList.push(row);
        {% endfor %}

        {% for i in results.phrases_in %}
            var row =  ['{{i}}'];
            phList.push(row);
        {% endfor %}


        window.onload = function () {
            var i;

            for (i = 0; i < keyList.length; i++) {
                addBtn(""+keyList[i]);
            }

            for (i = 0; i < phList.length; i++) {
                addPhraseBtn(""+phList[i]);
            }
        };

        function addBtn(key){
            var i, buttonContainer, newButton;

            if(key == "") 
                return

            var decodedK = key.replace("amp;","")

            buttonContainer = document.getElementById('_delKey');
            buttonContainer.setAttribute('class', '_delkey');

            newButton = document.createElement('input');
            newButton.type = 'button';
            newButton.id = decodedK;
            newButton.setAttribute('class', '_rmbtn');

            newButton.onclick = function () {
                var tareaFacet = $("#keywordsF").val();

                var arr = tareaFacet.split(', ');
                var newField='';
                for(var i=0; i<arr.length; i++) {

                    if(arr[i] == this.id)
                        continue;

                    newField = newField+", "+ arr[i];
                }

                $("#keywordsF").text(newField.substring(2, newField.length)); //remove commas in the end
                this.style.display = 'none';
            };

            var div = document.createElement('div');
            div.innerText = decodedK+"  ";
            div.setAttribute('class', '_delkey');
            div.appendChild(newButton);
            buttonContainer.appendChild(div);
        }

        function addPhraseBtn(phrase){
            var i, buttonContainer, newButton;

            if(phrase == "") 
                return

            buttonContainer = document.getElementById('_delph');
            buttonContainer.setAttribute('class', '_delph');

            newButton = document.createElement('input');
            newButton.type = 'button';
            newButton.id = phrase;
            newButton.setAttribute('class', '_rmbtn');

            newButton.onclick = function () {
                var tareaFacet = $("#phraseInF").val();


                var arr = tareaFacet.split(', ');
                var newField='';
                for(var i=0; i<arr.length; i++) {

                    if(arr[i] == this.id)
                        continue;

                    newField = newField+", "+ arr[i];
                }

                $("#phraseInF").text(newField.substring(2, newField.length)); //remove commas in the end
                this.style.display = 'none';
            };

            var div = document.createElement('div');
            div.innerText = phrase+"  ";
            div.setAttribute('class', '_delph');
            div.appendChild(newButton);
            buttonContainer.appendChild(div);
        }

        $('#addK').click(function(event) {

            var key = $("#keyF").val();
            addBtn(key);

            if (key.indexOf('&') > -1) {
                key = '('+key+')'
            }

            var tareaFacet = $("#keywordsF").val();

            if(tareaFacet) {
                tareaFacet = tareaFacet + ", "+ key;
                $("#keywordsF").text(tareaFacet);
            }
            else {
                $("#keywordsF").text(key);
            }

            $("#keyF").val("");
        });

        $('#addPin').click(function(event) {
            var key = $("#phraseIn").val();
            addPhraseBtn(key)

            var tareaFacet = $("#phraseInF").val();

            if(tareaFacet) {
                tareaFacet = tareaFacet + ", "+ key;
                $("#phraseInF").text(tareaFacet);
            }
            else {
                $("#phraseInF").text(key);
            }

            $("#phraseIn").val("");
        });

        $('input').keypress(function (event) {
             var regex = new RegExp("^[a-zA-Zά-ωΑ-ώ0-9\_\&\b\-]+$");
             var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);

             if (!regex.test(key)) {
                 event.preventDefault();
                 return false;
             }

        });
        
        $('#updateFacet').on('submit', function(event){

            if($('#nameF').val()=="" || $('#nameF').val()==null) {
                alert("You should fill a name in your facet.");
                return false;
            }
            if(($('#keywordsF').val()=="" || $('#keywordsF').val()==null) && ($('#phraseInF').val()=="" || $('#phraseInF').val()==null)) {
                alert("You should fill at least one keyword or phrase in your facet.");
                return false;
            }
            event.preventDefault();
            update_facet();
        });

        function update_facet() {

            /* Getting the token and setting it on the AJAX request */
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

            $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
            });

            $.ajax({
                url : "/update_facet/", // the endpoint
                type : "POST", // http method
                data : { name: $('#nameF').val(), keywords : $('#keywordsF').val() , phrases_in : $('#phraseInF').val(), fid:'{{ results.id }}'}, // data sent with the post request

                // handle a successful response
                success : function(json) {

                    console.log("success"); // another sanity check

                    if(json.hasOwnProperty('Error')){
                        var error = "<div class='posts_res'>An unexpected error occuded: "+ json['Error'] +"</div>"
                        $('div#main_body').html(error)
                        console.log("Error: "+json['Error']);
                    }
                    else {
                        window.location = "/myfacets/"
                    }

                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    $('#main_body').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+ errmsg +
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        };

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function cancel() {
            window.location = "/myfacets/"
        }


        $('#cancelBtn').click(function(event) {
            window.location = "/myfacets/"
        });


    });
</script>

    <div id="main_body">
        {% if results.id == -1 %}
            Error in the request. Please try again ...
        {% else %}

            <b>Edit <em>{{ results.name }}</em> Facet:</b><br><br>
            <div class="posts_res">

                <form role="form" name="editFacet" id="updateFacet" method="post">
                {% csrf_token %}
                    Name the facet:
                    {{ update.name }}

                    <small><em>(only characters, numbers '_' and '-' are allowed)</em></small>
                    <div class="_gap"> </div>

                    <div class="btTxt_add">
                        <p class="key_info">
                        Add keyword:
                        <a href="#">
                            <img src="{%  static 'RadFa_py/img/info-icon.png'%}" alt="information" class="icon_size"> 
                            <span>1. Add a single keyword at a time or a set of keywords separated by &. <br>2. If you want results that contain obligatory all the keywords in each post, put & between these keywords.<br>3. It is recommended to use a single language  when you create a facet, i.e all keywords and phrases are words of the same language.</span>
                        </a></p>
                        <br>
                        {{ update.key }}
                        <input type="button" class="_addbtn" name="addFBtn" id="addK" />

                    </div>
                    <br>
                    <small><em>(only characters, numbers '_' '&' and '-' are allowed)</em></small>

                    <div class="_gap"> </div>

                    Which keyword do you want to remove?
                    
                    <div class="_delkey" id="_delKey">

                    </div>


                    <div class="_gap"> </div>

                    Added Keywords:{{ update.tarea }}

                    <div class="_gap"> </div>

                    <div class="btTxt_add">
                        <p class="key_info">
                        <b>Include Phrase:</b>
                        <a href="#">
                            <img src="{%  static 'RadFa_py/img/info-icon.png'%}" alt="information" class="icon_size"> 
                            <span>1. Add a phrase that you want to be taken into account in the search results. <br>2. It is recommended to use a single language when you create a facet, i.e all keywords and phrases are words of the same language.</span>
                        </a></p>
                        <br>
                        {{ update.phrase_in }}
                        <input type="button" class="_addbtn" name="addFBtn" id="addPin" />

                    </div>

                    <div class="_gap"> </div>

                    Which phrase do you want to remove?

                    <div class="_delph" id="_delph"> </div>

                     <div class="_gap"> </div>

                    <b>Included Phrases:</b>{{ update.tarea_phraseIn }}

                    

                    <input type="submit" value="Save" id="updateF"/>
                    <input type="submit" value="Cancel" id="cancelBtn" />

                </form>

                
            </div>
        {% endif %}
    </div>

{% endblock %}