{% extends "html/main_template.html" %}


{% block title %}Edit Facets{% endblock %}

{% block menu %}
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'myfacets' %}">My Facets</a> </li>
        <li><a href="{% url 'newfacet' %}">Add New Facet</a></li>
        <li class="active"><a href="{% url 'editfacet' %}">Edit a Facet</a></li>
        <li><a href="{% url 'history' %}">History</a></li>
    </ul>
{% endblock %}

{% block res_content %}
    
    <script type="text/javascript">
     $(document).ready(function() {

        $(document).on('click','._new', function() {
            window.location = "/newfacet/"
        });
    });
    </script>

<div id="main_body">
    <b>Edit a Facet:</b>

    {% if facets|length == 0 %}
        <br><br>
            There aren't any facets in your account ...<br>
            <div id="_save">
                <input type="button" value="Add Now" class="_new" />
            </div>
            <br>
            Do you want to add a new facet?

    {% else %}
        <div class="posts_res">
            <form name="chooseEdit" id="chooseEdit1" action="/editafacet/">
                {% csrf_token %}
                <div class="basic_text">Choose a Facet to edit:</div>
                {{ editF.efacets }}

                <input type="submit" value="Edit" id="edit"/>
            </form>
        </div>
    {% endif %}
</div>

{% endblock %}