{% extends "html/main_template.html" %}

{% block title %}My History{% endblock %}

{% block menu %}
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'myfacets' %}">My Facets</a> </li>
        <li><a href="{% url 'newfacet' %}">Add New Facet</a></li>
        <li><a href="{% url 'editfacet' %}">Edit a Facet</a></li>
        <li class="active"><a href="{% url 'history' %}">History</a></li>
    </ul>
{% endblock %}

{% block res_content %}

<script type="text/javascript">


     $(document).ready(function() {

         $(document).on('click','._rmbtn', function() {
             var idDel = $(this).attr('id');

             var count = idDel.split("-").pop();
             var id = $('#id_'+count).val();

             var result = confirm("Are you sure you want to delete it?");
             if (result) {
                 delH(id);
             }


         });

         function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
         }

         function delH(id) {
             var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

            $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
            });
             $.ajax({
                url : "/delete_history/", // the endpoint
                type : "POST", // http method
                data : { hid: id}, // data sent with the post request

                // handle a successful response
                success : function(json) {
                    console.log(json); // log the returned json to the console

                    window.location = "/history/"

                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    $('#err_results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+ errmsg +
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
         }


     });

</script>

<div id="main_body">
    <b>My History</b>

    {% if myhistory|length == 0%}
    <br><br>
    <em>My History</em> is empty ...

    {% else %}

        <table class="_facet_table">
            <thead>
            <tr role="row">
                <th rowspan="1" colspan="1">Group</th>
                <th rowspan="1" colspan="1">Facet</th>
                <th rowspan="1" colspan="1">Time Period</th>
                <th rowspan="1" colspan="1">Date</th>
                <th rowspan="1" colspan="1">Num of Users</th>
                <th rowspan="1" colspan="1">Details</th>
                <th rowspan="1" colspan="1">Delete</th>
            </tr>
            </thead>
            <tbody>
            {%  for hist in myhistory %}

                {%  if forloop.counter0|divisibleby:2 %}
                    <tr class="_data_odd">
                {% else %}
                    <tr>
                {% endif %}
                        <td>{{ hist.gname }}</td>
                        <td>{{ hist.fid.name }}</td>
                        <td>{{ hist.period }}</td>
                        <td>{{ hist.date }}</td>
                        <td>{{ hist.num_participants }}</td>
                        <td>
                            <form action="{% url 'myhistory' hid=hist.id %}" method="get" class="hform">
                                {% csrf_token %}
                                <input type="submit" name="More" >
                            </form>
                        </td>
                        <td>
                            <input type="button" name="rm" class="_rmbtn" style="float:right; border:none; display: inline;" id="delH-{{ forloop.counter0 }}">
                            <input name="id_hist" id="id_{{ forloop.counter0 }}" type="hidden" value="{{hist.id}}">
                        </td>
                    </tr>

            {% endfor %}
            </tbody>

            <!--
                    <tr id="more-rowshow" style="display:none;">
                                    <td colspan="8"><div class="_hide_more" id="more"> POSTS</div></td>
                                </tr>-->
        </table>
    {% endif %}
</div>
{% endblock %}