
{% extends "html/main_template.html" %}

{% load staticfiles %}

{% block title %}My Home{% endblock %}


{% block res_content %}

    <script>
        $(document).ready(function() {
            $("#Fdatepicker").datepicker({ dateFormat: 'dd-mm-yy' });
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#Tdatepicker").datepicker({ dateFormat: 'dd-mm-yy' });
        });
    </script>


<script>

function getDetails() {

    var results = []
    
    var res_html = document.getElementsByClassName("results")

    for(var r = 0; r < res_html.length; r++) {
        var user = {}
        var stats = []
        var posts = []
        var detail_arr = res_html.item(r).children.item(0).children
        //var detail_arr = [].slice.call(posts);
        //var name = posts.getElementsByClassName("p_n")
        for(var d = 0; d < detail_arr.length; d++) {
            var cl_name = detail_arr.item(d).className
            

            if(cl_name == "p_n") {
                user['name'] = detail_arr.item(d).innerText
            }
            else if(cl_name == "_totkeys") {
                stats.push(detail_arr.item(d).innerText)
            }
            else if(cl_name == "posts_res") {
                var post_r = detail_arr.item(d).children

                var post = {}
                for(var p = 0; p < post_r.length; p++) {
                    
                    
                    if(post_r.item(p).className == "p_m") {
                        post['message'] = post_r.item(p).innerText
                       
                    }

                    else if(post_r.item(p).className == "posts_st") {
                        if(post_r.item(p).children.item(0).getElementsByTagName("li").length != 0) {
                            var likes = post_r.item(p).children.item(0).getElementsByTagName("li").item(0).innerText
                            var comment = post_r.item(p).children.item(0).getElementsByTagName("li").item(1).innerText
                            var time = post_r.item(p).children.item(0).getElementsByTagName("li").item(2).innerText

                            post['likes'] = likes
                            post['comments'] = comment
                            post['createdTime'] = time
                        }
                        
                    }
                    
                }
                if(!post.hasOwnProperty('createdTime')) {
                    post['likes'] = 'unknown'
                    post['comments'] = 'unknown'
                    post['createdTime'] = 'unknown'
                }
                posts.push(post)
            }

        }
        user['stats'] = stats
        user['posts'] = posts
        results.push(user)

    }

    return results
    
}

function storeHist() {
    var from = $("#Fdatepicker").val();
    var to = $("#Tdatepicker").val();

    var period = "";
    if(from != "") {
        period = period + "From: " + from + "\n";
    }
    if(to != "") {
        period = period + " Till: "+to;
    }
    if(period == "")
        period = "-";

    var gid = $('#group').val();
    var gname = $('#group').find('option:selected').text();
    var fid = $('#facets').val();
    
    var from = $("#Fdatepicker").val();
    var to = $("#Tdatepicker").val();

    var details = getDetails();


    save_history(fid, gid, gname, details, period);
}


function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

function save_history(fid, gid, gname, arr_details, period) {

    /* Getting the token and setting it on the AJAX request */
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


    $.ajax({
        url : "/save_history/", // the endpoint
        type : "POST", // http method
        data : { facet : fid, group: gid, period: period,  groupName: gname, details : JSON.stringify(arr_details), num:arr_details.length }, // data sent with the post request

        // handle a successful response
        success : function(json) {
            if(json.hasOwnProperty('Error')){
                var error = "<div class='posts_res'>An unexpected error occuded: "+ json['Error'] +"</div>"
                $('div#main_body').html(error)
                console.log("Error: "+json['Error']);
            }
            else {
                alert("The results have been saved successfuly in your history.");
                $("#savehistBtn").hide();
            }
        },

            // handle a non-successful response
        error : function(xhr,errmsg,err) {
            var error = "<div id='res'>Oops! We have encountered an error: "+ errmsg +"</div>"
            $('div#main_body').html(error) // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console

            alert("Problem in saving history: "+err);
        }
    });
};

</script>

    <div id="main-form">

        <form action="/home/" method="post" name="searchF" id="searchF">
            {% csrf_token %}

            <div id="_left">
                <div class="basic_text">Choose a Group:</div>
                <select id="group" name="groups"> </select>

                <div class="_gap"> </div>

                <div class="basic_text">Choose a Time Period:</div>
                <div class="date_text">From: <input type="text" id="Fdatepicker" style="width:30%;"></div><br>
                <div class="date_text">To: <input type="text" id="Tdatepicker" style="width:30%;"></div>
            </div>

            <div id="_right">
                <div class="basic_text">Choose a Facet:</div>

                {{ searchF.facets }}


                <div class="_gap"> </div>
                <div class="basic_text">Choose Statistics:</div>
                <div class="date_text">Likes<input type="checkbox" name="stats" id="likes" value="likes" checked></div>
                <div class="date_text">Comments<input type="checkbox" name="stats" id="comments" value="comments" checked></div>

                
                <div class="_gap"> </div>

                <input type="submit" id="btn_search" value="Search" />

                <input type="submit" value="Reset" id="btn_reset"/>

            </div>

        </form>

    </div>
    <div id="main_body">
        <div id="res">


            {% if posts|length == 0 %}
                {% if emptyR == 'False' %}
                    Do you want to know which words are more valuable to you and your groups?<br><br>
                    RadFa Search will give you the answer ...
                {% else %}
                   There are not results with your search criteria. <br><br>
                    Please try again!
                {% endif %}
            {% else %}

                <div id="_save">
                    <form name="saveHist" id="saveHist" method="post">
                        {% csrf_token %}
                        <input  type="button" value="Save to History" id="savehistBtn" onclick="storeHist()"/>
                    </form>
                    
                </div>

                <b>Results for:</b>
                <div class="_totnum">
                    <ul>
                        <li><b>Facet: </b>{{ facet.name }} with attributes ({{ facet.keywords }} , '{{ facet.phrasesIn }}')</li>
                        <li><b>Group: </b>{{ group.name }}</li>
                        <li><b>Period: </b>{% if from != "" %}{{ from }}{% else %}-{% endif %} to {% if to != "" %}{{ to }}{% else %}-{% endif %}</li>
                    </ul>
                </div>
                
                <b>Results grouped by users:</b><br><br>
                {% for user in posts %}
                   <div class="results">
                        <div class="posts_res">
                           <div class="p_n"> <b>{{ user.name }}:</b> </div>
                            <br>
                            {% for note in user.notes %}
                                <div class="_totkeys">
                                    <ul>

                                        <li>Keyword <b><div class="key_name" style="display:inline;">{{ note.main_key }}</div></b> (with its synonyms) has cardinality: 
                                        <b><div class="key_card" style="display:inline;">{{ note.cardinality }}</div></b></li>
                                    
                                    </ul>
                                </div>
                            {% endfor %}
                            <br>
                            {% if user.posts|length != 0 %}
                            Posts:
                            <br>
                                {% for post in user.posts %}
                                <div class="posts_res">
                                    <div class="p_m"> {{ post.message }} </div>

                                    <div class="posts_st">
                                        <ul class="posts_st_ul">
                                            <li><img src="{%  static 'RadFa_py/img/like-icon.png'%}" alt="like" class="icon_size"> {{ post.likes }}</li>
                                            <li><img src="{%  static 'RadFa_py/img/comments-icon.png'%}" alt="comments" class="icon_size"> {{ post.comments }}</li>
                                            <li><img src="{%  static 'RadFa_py/img/star-icon.png'%}" alt="star" class="icon_size"> {{ post.created_time }}</li>
                                        </ul>
                                     </div>
                                 </div>
                                {% endfor %}
                            {% endif %}

                            {% if user.comments|length != 0 %}
                            Comments:
                            <br>
                                {% for com in user.comments %}
                                <div class="posts_res">
                                
                                    <div class="p_m"> {{ com.message }} </div><br>
                                    <img src="{%  static 'RadFa_py/img/star-icon.png'%}" alt="star" class="icon_size"> 
                                    <div class="_com_time" style="display:inline;">{{ com.created_time }}</div>

                                    <div class="posts_st">
                                        Comment at the post of <b>{{ com.original_uname }}</b> created at &nbsp; {{ com.original_created_time }}:
                                        <div style="padding:10px;"><em>{{ com.original_message }}</em></div>
                                     </div>
                                 </div>
                                {% endfor %}
                        
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
        {% endif %}
        </div>
    </div>

{% endblock %}
