<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <title>Login to RadFa!</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static 'RadFa_py/css/indexStyle.css' %} "/>

</head>

<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>

  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);

    if (response.status == 'connected') {
      connectAPI();
    } else if (response.status == 'not_authorized') {
      console.log("User is not authorized")
    } else {
      console.log("There isnt any user logged in yet")
    }
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  function logout() {
    FB.logout(function(response) {
      document.getElementById('status').innerHTML =
        'Successful log out ';
      
    });
  }

  window.fbAsyncInit = function() {
      FB.init({
        appId      : '730308040455518',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.8'
      });

      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);

      });
      FB.Event.subscribe('auth.login', function () {
          csrftoken = getCookie('csrftoken'); //csrftoken
          setUid();
          //window.location = "{% url 'home' %}";
      });

      FB.Event.subscribe('auth.logout', function () {
          window.location = "{% url 'login' %}";
      });

  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function connectAPI() {
    console.log('Welcome!  Fetching your information.... ');

    FB.api('/me', function(response) {
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';

       // window.location = "{% url 'home' %}";
    });
  }

  function setUid() {

      $.ajax({
                url : "/login_auth/", // the endpoint
                type : "POST", // http method
                data : { uid: FB.getAuthResponse()['userID'] }, // data sent with the post request


                // handle a successful response
                success : function(json) {
                    console.log("success"); // another sanity check
                    
                    if(json.hasOwnProperty('Error')){
                      var error = "<div class='posts_res'>An unexpected error occuded: "+ json['Error'] +"</div>"
                      $('div#main_body').html(error)
                      console.log("Error: "+json['Error']);
                    }
                    else {
                      window.location = "/home/"  
                    }

                },
                error : function(xhr,errmsg,err) {
                    $('#main_body').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+ errmsg +
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
      });
  }

  function getCookie(name) {
    var cookieValue = null;

    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);

            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
            else if(cookie.substring(0, name.length) == name) {
              var match = /=/.exec(cookie);
              cookieValue = decodeURIComponent(cookie.substring(match.index+1));
              break;
            }
            
        }
    }

    return cookieValue;
  }
  var csrftoken = 'fb';
 
  function csrfSafeMethod(method) {
    console.log("method = "+method)
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }

  $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
  });
</script>


<div class="backgr">
    <div class="container">
        <!-- the header menu -->
        <div id="header">
            <ul>
                <li><img src="{%  static 'RadFa_py/img/radfa_favicon2.png'%}" alt="logo" class="_logo_img"></li>
                <li>RadFa !</li>
            </ul>
        </div>

        <h3>Log in to <b>RadFa</b>! Discover the reasonance of your words beyond your posts and your groups!!!</h3>
        <!-- the main content of the page -->
        <div id="content">

            <img src="{%  static 'RadFa_py/img/radfa_faviconB.png'%}" alt="logo_big" id="content-left">

            <div id="content-right">
                <em>1. Do you want to handle your groups easier?<br>
                2. Do you want to know which words are more valuable to you and your groups?<br><br></em>

                Then, the only thing you need is to enter to RadFa's world, only with one move....<br><br>

                <br>
                <br>
                <br>
                <b>Log In to Radfa with your Facebook account now!</b>

                <!--<div id="status"> </div>-->

                <div class="fb-login-button" scope="user_managed_groups,user_posts" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true" onlogin="checkLoginState();"></div>
            </div>
        </div>

        <div id="footer">
            <ul>
                <li>Help</li>
                <li><a href="{% url 'privacypolicyl' %}">Privacy Policy</a></li>
                <li>Supported by @Demokritos</li>
                <li>Contact Info</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>