<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Page Title{% endblock %}</title>
</head>
<body>
<div id="base">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static 'RadFa_py/css/style.css' %} "/>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>


    <script type="text/javascript" src="{%  static 'RadFa_py/js/mainFunctions.js'%}"></script>
    <script type="text/javascript" src="{%  static 'RadFa_py/js/mainSearch.js' %}"></script>


  <div class="backgr">
    <div class="container">
        <!-- the header menu -->
        <div id="header">
            <ul>
                <li><img src="{%  static 'RadFa_py/img/radfa_favicon2.png'%}" alt="logo" class="_logo_img"></li>
                <li><div style="display: inline;" id="status"></div></li>
            </ul>

            <!--
            <div class="_main_search">
                <form>
                    <input type="text" name="search" placeholder="Search..">
                </form>
            </div>-->

            <div class="right">
                <div class="fb-login-button" scope="user_managed_groups" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true" onlogin="checkLoginState();"></div>
            </div>
        </div>

        <!-- the main content of the page -->
        <div id="content">
            <div id="sidebar">
                <img src="{%  static 'RadFa_py/img/grey-user-icon3.png' %}" alt="myPhoto" id="user_img">
                {% block menu %}
                <ul>
                    <li class="active"><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'myfacets' %}">My Facets</a> </li>
                    <li><a href="{% url 'newfacet' %}">Add New Facet</a></li>
                    <li><a href="{% url 'editfacet' %}">Edit a Facet</a></li>
                    <li><a href="{% url 'history' %}">History</a></li>
                </ul>
                {% endblock %}
            </div>


            <div id="content_right">
                {% block res_content %}


                {% endblock %}

            </div>
        </div>

        <div id="footer">
            <ul>
                <li>Help</li>
                <li><a href="{% url 'privacypolicy' %}">Privacy Policy</a></li>
                <li>Supported by @Demokritos</li>
                <li>Contact Info</li>
            </ul>
        </div>

    </div>
</div>

</div>

</body>
</html>