
{% extends "html/main_template.html" %}

{% block title %}My Facets{% endblock %}

{% block menu %}
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li class="active"><a href="{% url 'myfacets' %}">My Facets</a> </li>
        <li><a href="{% url 'newfacet' %}">Add New Facet</a></li>
        <li><a href="{% url 'editfacet' %}">Edit a Facet</a></li>
        <li><a href="{% url 'history' %}">History</a></li>
    </ul>
{% endblock %}

{% block res_content %}
    <script type="text/javascript">
     $(document).ready(function() {

        $(document).on('click','._new', function() {
            window.location = "/newfacet/"
        });

        $(document).on('click','._del', function() {
             var idDel = $(this).attr('id');

             var count = idDel.split("-").pop();
             var id = $('#id_'+count).val();

             var result = confirm("The deletion of this facet will trigger the deletion of stored results (history) that are based on this facet.\n Are you sure you want to delete it?");
             if (result) {
                 goDel(id);
             }


        });

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function goDel(id) {
             var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

            $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
            });
             $.ajax({
                url : "/delete_facet/", // the endpoint
                type : "POST", // http method
                data : { fid: id}, // data sent with the post request

                // handle a successful response
                success : function(json) {
                    console.log("success"); // log the returned json to the console

                    if(json.hasOwnProperty('Error')){
                        var error = "<div class='posts_res'>An unexpected error occuded: "+ json['Error'] +"</div>"
                        $('div#main_body').html(error)
                        console.log("Error: "+json['Error']);
                    } else {
                        window.location = "/myfacets/"
                    }

                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    $('#main_body').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+ errmsg +
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        }

     });
    </script>

    <div id="main_body">

      <b>My Facets:</b>
        {% if facets|length == 0 %}
            <br><br>
            There aren't any facets in your account ...<br> 
            <div id="_save">
                <input type="button" value="Add Now" class="_new" />
            </div>
            <br>
            Do you want to add a new facet?
            
        {% else %}
            {% for fac in facets %}

                <div class="posts_res">

                    <form name="editFacet" action="{% url 'editafacet' fid=fac.id %}" method="get">
                        {% csrf_token %}
                        <div class="_editF">
                            <input type="button" class="_del" value="Delete"  id="delF-{{ forloop.counter0 }}"/>
                            <input name="efacets" id="id_{{ forloop.counter0 }}" type="hidden" value="{{fac.id}}">
                            <input type="submit" value="Edit" id="editF"/>
                        </div>

                        <b>{{ fac.name }}</b>


                        <div class="posts_st">
                            <ul class="facets_st_ul">
                                <li><u>Keywords:</u> {% if fac.keywords == "" %} - {% else %} {{ fac.keywords }} {% endif %}</li>
                                <li><u>Included Phrases:</u> {% if fac.phrasesIn == "" %} - {% else %} {{ fac.phrasesIn }} {% endif %}</li>
                                <li><u>Excluded Phrases:</u> {% if fac.phrasesOut == "" %} - {% else %} {{ fac.phrasesOut }} {% endif %}</li>
                            </ul>
                        </div>
                    </form>

                </div>

            {% endfor %}
        {% endif %}
    </div>
{% endblock %}