
{% extends "html/main_template.html" %}

{% load staticfiles %}

{% block title %}My History{% endblock %}

{% block menu %}
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'myfacets' %}">My Facets</a> </li>
        <li><a href="{% url 'newfacet' %}">Add New Facet</a></li>
        <li><a href="{% url 'editfacet' %}">Edit a Facet</a></li>
        <li class="active"><a href="{% url 'history' %}">History</a></li>
    </ul>
{% endblock %}

{% block res_content %}

    <div id="main_body">
        <div id="res">

            <b>Stored History for:</b>
                <div class="_totnum">
                    <ul>
                        <li><b>Facet: </b>{{ results.facet.name }} with attributes ({{ results.facet.keywords }} , '{{ results.facet.phrasesIn }}')</li>
                        <li><b>Group: </b>{{ results.gname }}</li>
                        <li><b>Period: </b>{{ results.period }}</li>
                        <li><b>Stored at: </b>{{ results.date }}</li>
                    </ul>
                </div>
                
                <b>Results grouped by users:</b><br><br>
                {% for user in posts %}
                   <div class="results">
                        <div class="posts_res">
                           <div class="p_n"> <b>{{ user.name }}:</b> </div>
                            <br>
                            {% for st in user.stats %}
                                <div class="_totkeys">
                                    <ul>

                                        <li>{{st}}</li>
                                    
                                    </ul>
                                </div>
                            {% endfor %}
                            <br>
                            {% if user.posts|length != 0 %}
                            Posts and Comments:
                            <br>
                                {% for post in user.posts %}
                                <div class="posts_res">
                                    <div class="p_m"> {{ post.message }} </div>

                                    <div class="posts_st">
                                        <ul class="posts_st_ul">
                                            {% ifnotequal post.createdTime "uknown" %}
                                                <li><img src="{%  static 'RadFa_py/img/like-icon.png'%}" alt="like" class="icon_size"> {{ post.likes }}</li>
                                                <li><img src="{%  static 'RadFa_py/img/comments-icon.png'%}" alt="comments" class="icon_size"> {{ post.comments }}</li>
                                                <li><img src="{%  static 'RadFa_py/img/star-icon.png'%}" alt="star" class="icon_size"> {{ post.created_time }}</li>
                                            
                                            {% else %}
                                                <li><em>Comment</em></li>
                                            
                                            {% endifnotequal %}
                                        </ul>
                                     </div>
                                 </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

        </div>
    </div>

{% endblock %}