{% extends "html/main_template.html" %}

{% load staticfiles %}
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>


{% block title %}New Facet{% endblock %}


{% block menu %}
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'myfacets' %}">My Facets</a> </li>
        <li class="active"><a href="{% url 'newfacet' %}">Add New Facet</a></li>
        <li><a href="{% url 'editfacet' %}">Edit a Facet</a></li>
        <li><a href="{% url 'history' %}">History</a></li>
    </ul>
{% endblock %}

{% block res_content %}


    <script type="text/javascript" src="{%  static 'RadFa_py/js/createFacet.js'%}"></script>

    <script>
    function reset() {
        document.getElementById("addFacet").reset();
    }
    </script>

<div id="main_body">

    <b>Add a New Facet:</b><br><br>

    <div class="posts_res">

        <form name="addFacet" method="post" id="addFacet">
            {% csrf_token %}


             <div id="err_results"> </div>

            <b>Name the Facet:</b>
            <br>
            {{ form.name }}
            <small><em>(only characters, numbers '_' and '-' are allowed)</em></small>
            <div class="_gap"> </div>

            <div class="btTxt_add">
                
                <p class="key_info">
                <b>Add Keyword:</b>
                <a href="#">
                    <img src="{%  static 'RadFa_py/img/info-icon.png'%}" alt="information" class="icon_size"> 
                    <span>1. Add a single keyword at a time or a set of keywords separated by &. <br>2. If you want results that contain obligatory all the keywords in each post, put & between these keywords.<br>3. It is recommended to use a single language  when you create a facet, i.e all keywords and phrases are words of the same language.</span>
                </a></p>
                <br>
                {{ form.key }}
                <input type="button" class="_addbtn" name="addFBtn" id="addK" />

            </div>
            <br>
            <small><em>(only characters, numbers , '&', '_' and '-' are allowed)</em></small>

            <div class="_gap"> </div>

            <b>Added Keywords:</b>{{ form.tarea }}

            <div class="_gap"> </div>

            <div class="btTxt_add">
                
                <p class="key_info">
                <b>Include Phrase:</b>
                <a href="#">
                    <img src="{%  static 'RadFa_py/img/info-icon.png'%}" alt="information" class="icon_size"> 
                    <span>1. Add a phrase that you want to be taken into account in the search results. <br>2. It is recommended to use a single language when you create a facet, i.e all keywords and phrases are words of the same language.</span>
                </a></p>
                <br>
                {{ form.phrase_in }}
                <input type="button" class="_addbtn" name="addFBtn" id="addPin" />

            </div>

             <div class="_gap"> </div>

            <b>Included Phrases:</b>{{ form.tarea_phraseIn }}

            <div class="_gap"> </div>


            <input type="submit" value="Add" id="addF"/>
            <input type="submit" value="Reset" id="cancelF" onclick="reset()"/>

        </form>
    </div>
</div>
{% endblock %}