{% load staticfiles %}

<html>
<head>
    <title>Login to RadFa!</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static 'RadFa_py/css/indexStyle.css' %} "/>

</head>

<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>



<div class="backgr">
    <div class="container">
        <!-- the header menu -->
        <div id="header">
            <ul>
                <li><img src="{%  static 'RadFa_py/img/radfa_favicon2.png'%}" alt="logo" class="_logo_img"></li>
                <li>RadFa !</li>
            </ul>
        </div>
        <div id="content">
            <div class="link_design"><a href="{% url 'login' %}">Back to Log in Page</a></div>

            <div style="padding: 30px; margin-left: 70px;">
                <b>RadFa Privacy Policy</b>
                <br> <br>
                This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
                <br> <br>
                What personal information do we collect from the people that visit our blog, website or app?
                When ordering or registering on our site, as appropriate, you may be asked to enter your facebook account or other details to help you with your experience.
                <br> <br>
                <b>When do we collect information?</b>
                <br> 
                We collect information from you when you register on our site or enter information on our site.
                <br> <br>
                <b>How do we use your information?</b>
                <br>
                We may use the information we collect from you when you register and use the website, in order to provide you with our service.
                <br> <br>
                <b>How do we protect your information?</b>
                <br> 
                We do not use vulnerability scanning and/or scanning to PCI standards. We only provide articles and information. We never ask for credit card numbers. We do not use Malware Scanning.
                <br> <br>
                Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.
                <br> <br>
                We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information.
                <br> <br>
                <b>Do we use 'cookies'?</b>
                <br> 
                We do not use cookies for tracking purposes
                <br> <br>
                You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.
                <br> <br>
                <b>Third-party disclosure</b>
                <br> 
                We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.
                <br> <br>
                <b>Third-party links</b>
                <br> 
                In order to provide you with our service we include Facebook products and services on our website. Facebook has separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of Facebook.
                <br> <br>
                <b>Google</b>
                <br> 
                We have not enabled Google AdSense on our site but we may do so in the future.
                <br> <br>
                <b>California Online Privacy Protection Act</b>
                <br> 
                CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared. - See more at: http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf
                <br> <br>
                According to CalOPPA, we agree to the following: Users can visit our site anonymously. Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website. Our Privacy Policy link includes the word 'Privacy' and can easily be found on the page specified above.
                <br> <br>
                You will be notified of any Privacy Policy changes on our Privacy Policy Page.
                <br> <br>
                You can change your personal information by logging in to your account
                <br> <br>
                How does our site handle Do Not Track signals? We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.
                <br> <br>
                Does our site allow third-party behavioral tracking? It's also important to note that we do not allow third-party behavioral tracking
                <br> <br>
                <b>COPPA (Children Online Privacy Protection Act)</b>
                <br> 
                When it comes to the collection of personal information from children under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.
                <br> <br>
                We do not specifically market to children under the age of 13 years old.
                <br> <br>
                <b>Fair Information Practices</b>
                <br> 
                The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.
                <br> <br>
                In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur: We will notify the users via in-site notification within 1 business day
                <br> <br>
                We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.
                <br> <br>
                <b>CAN SPAM Act</b>
                <br> 
                The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.
                <br> 
                We do not collect your email address.
                <br> <br>
                <b>Contacting Us</b>
                <br> 
                If there are any questions regarding this privacy policy, you may contact us using the information below:
                <br>
                <div style="padding-left: 20px; padding-top: 10px">roboskel at iit demokritos gr</div> 
                <br> 
                <b>RadFa</b>
                <br>
                Last Edited on 2016-12-07
                <br>  
            </div>

            <div class="link_design"><a href="{% url 'login' %}">Back to Log in Page</a></div>
        </div>
    </div>

    <div id="footer">
        <ul>
            <li>Help</li>
            <li><a href="{% url 'privacypolicyl' %}">Privacy Policy</a></li>
            <li>Supported by @Demokritos</li>
            <li>Contact Info</li>
        </ul>
    </div>
</div>

</body>
</html>