

div.backgr{
    width: 100%;
    min-height: 200px;
    height: auto;
    font-family: 'Arial', sans-serif;
    background-color: #a6acb3;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow:auto;
}

div.container{
    width: 85%;
    min-height: 500px;
    height: auto;
    /*margin:35px auto;*/
    font-family: 'Arial', sans-serif;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 5px #888888;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    position:relative;
    margin-bottom: 10px;
    margin-top:10px;
    overflow:auto;
}

h3 {
    text-align:center;
    text-shadow: 1px 1px 1px #888888;
    color: #1d385a;
    margin-top: 30px;
    font-style: italic;
}

/* HEADER */

#header {
    clear: both;
    width: 100%;
    height: 45px;
    background: linear-gradient(#486180 10%, #8bacd4 100%);
    color: #ffffff;
    font-weight: bold;
    position:relative;
    margin-top: 50px;
    margin: auto;
}


#header ul {
    padding-top: 10px;
    padding-left: 30px;
    margin: 0;
    margin-left: 50px;
    list-style: none;
}

#header ul li{
    display: inline;
    padding-left: 15px;

}

._logo_img{
    width:50px;
    height:50px;
    margin-top:-10px;
    vertical-align:middle;
}

.link_design {
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
}

/* FOOTER */

#footer {
    clear: both;
    width: 100%;
    height: 45px;
    background: linear-gradient(#8bacd4 10%, #486180 100%);
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    position:relative;
    margin-top: 800px;
    text-align:center;
}


#footer ul {
    padding-top: 10px;
    padding-left: 30px;
    list-style: none;
    margin:auto;
}

#footer ul li{
    display: inline;
    padding-left: 150px;

}

#footer ul li a{
    color: #ffffff;
}

#content {
    width: 90%;
    padding: 40px 0px;
    position:absolute;
    margin: auto;
}

#content #content-left {
    float: left;
    background: no-repeat;
    width: 40%;
    margin: 0 auto;
}

#content #content-right {
    float: right;
    width: 50%;
    margin: 0 auto;
    margin-top: 200px;
    font-size: 18px;
    color: #1d385a;
}

.loginForm{
    width: 40%;
    height: auto;
    min-height: 150px;
    padding: 10px 50px 25px 50px;
    border: 1px solid #8c96a2;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #e0e3e8;
    position: relative;
    color: #1d385a;
    font-size: 16px;
    overflow: auto;
}

.main_txt {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

input[type="text"], input[type=password] {
    display: block;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    width: 85%;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color:  #ffffff; /*#a8bdd8;*/
    font-size: 13px;
    color: #1d385a;
    font-weight: bold;
}


input[type=button]{
    font-size: 16px;
    background: linear-gradient(#4a6600 5%, #add638 100%);
    border: 1px solid #476200;
    color: #FFFFFF; /*#4E4D4B;*/
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    outline:none;
}


input[type="submit"]  {
    display: inline;
    float:right;
    margin-top: 40px;
    background: linear-gradient(#486180 10%, #8bacd4 100%);
    width: 100%;
    margin: 0 auto;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 2px #888888;
}

input[type=button]:hover{
    background: linear-gradient(#add638 5%, #4a6600 100%);
}
