

h2{
   /* background-color: #001100;
    padding: 30px 35px;
    margin: -10px -50px;*/
    text-align:center;
    border-radius: 10px 10px 0 0;
}

hr{
    margin: 10px -50px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-bottom: 40px;
}

div.backgr{
    width: 100%;
    min-height: 400px;
    height: auto;
    background-color: #a6acb3;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow:auto;
}

div.container{
    width: 85%;
    min-height: 400px;
    height: auto;
    /*margin:35px auto;*/
    font-family: 'Arial', sans-serif;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 5px #888888;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    position:relative;
    margin-bottom: 10px;
    margin-top:10px;
    overflow:auto;
}

/* HEADER */

#header {
    clear: both;
    width: 100%;
    height: 45px;
    /*background: url(./images/menu_bg.jpg) no-repeat;*/
    background: linear-gradient(#486180 10%, #8bacd4 100%);
    color: #ffffff;
    font-weight: bold;
    position:relative;
    margin-top: 50px;
    margin: auto;
}


#header ul {
    padding-top: 10px;
    padding-left: 30px;
    margin: 0;
    margin-left: 50px;
    list-style: none;
}

#header ul li{
    display: inline;
    padding-left: 15px;

}


._main_search {
    display: inline;
    margin-left: 50px;
}

.right {
    position: absolute;
    right: 65px;
    margin-top: -30px;
}

.right a{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

._logo_img{
    width:50px;
    height:50px;
    margin-top:-10px;
    vertical-align:middle;
}

/* FOOTER */

#footer {
    clear: both;
    width: 100%;
    height: 45px;
    background: linear-gradient(#8bacd4 10%, #486180 100%);
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    position:relative;
    margin-top: 800px;
    text-align:center;
}


#footer ul {
    padding-top: 10px;
    padding-left: 30px;
    list-style: none;
    margin:auto;
}

#footer ul li{
    display: inline;
    padding-left: 150px;

}

#footer ul li a{
    color: #ffffff;
}

/* main body */
#content {
    width: 90%;
    padding: 50px 0px;
    position:relative;
    margin: auto;
}

#content #content_left {
    float: left;
    width: 20%;
    padding: 2px;
    background: #b9cade;
    border-radius: 5px;
    /*border: 1px solid #57708f;*/
}

#content #content_left ul {
    margin: 0 auto;
    position: relative;
    width:100%;
    margin-left: -40px;
    list-style: none;
    text-align: center;
}

#content #content_left ul li{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    background: linear-gradient(#486180 10%, #a8bdd8 100%);
    border: 1px solid #57708f;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #888888;
    text-align: center;
}

#content #sidebar {
    float: left;
    width: 20%;
    height: auto;
    min-height: 650px;
    overflow:auto;
    padding: 0px;
    background: #a8bdd8;
    border-radius: 5px;

}

#content #sidebar ul {
    margin: 0 auto;
    position: relative;
    width:auto;
    list-style: none;
    text-align: left;
    border-top: 1px solid #8c96a2;  /*#5880b3;*/
}

#content #sidebar ul li {
    display: block;
}

#content #sidebar ul li a {
    display: block;
    border-bottom: 1px solid #8c96a2;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    margin-left: -40px;
    color: #1d385a;
    font-weight: bold;
    text-decoration: none;
}

#content #sidebar ul li a:hover {
    display: block;
    background: #8fa8c8;
    text-shadow: 2px 2px #8c96a2;
    font-size: 17px;
}

#content #sidebar ul li.active a {
    display: block;
    background: #8fa8c8;
    text-shadow: 2px 2px #8c96a2;
    font-size: 17px;
}

#content #sidebar #user_img {
    width:60%;
    height: 60%;
    border: 5px groove #57708f;
    background: #ffffff;
    margin: 35px;
}

#content #content_right {
    float: right;
    width: 75%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#content #content_right #main-form {
    height: auto;
    width: 100%;
    min-height: 150px;
    margin: 0 auto;
    box-shadow: 2px 2px 2px #888888;
    background: #e0e3e8;
    padding: 20px;
    overflow: auto;
}


#content #content_right #main-form #_left {
    width:50%;
    float:left;
}

#content #content_right #main-form #_right {
    width:50%;
    float:right;
}

#content #content_right #main-form input[type="text"] {
    display: inline;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 20%;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color:  #ffffff; /*#a8bdd8;*/
    font-size: 13px;
    color: #1d385a;
    font-weight: bold;
}

#content #content_right #main-form input[type="checkbox"]  {
    display: inline;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    transform: scale(1.1);
    /*border: none;
    background-color:  #ffffff;
    color: #1d385a;
    font-weight: bold;*/
}

/*#content #content_right #main-form input[type="submit"]  {
    display: inline;
    float:right;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 35px;
    margin-bottom: 10px;
    background: linear-gradient(#486180 10%, #8bacd4 100%);
    width: 120px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 2px #888888;
}

#content #content_right #main-form  input[type=submit]:hover{
    background: linear-gradient(#8bacd4 10%, #486180 100%);
}*/

._gap {
    margin: 50px auto;
}
.basic_text {
    margin-top: 15px;
    margin-right: 15px;
    color: #1d385a;
    font-size: 16px;
}

.date_text {
    display: inline;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    color: #1d385a;
    font-size: 16px;
    font-style: italic;
}

#content #content_right #main_body {
    display: block;
    width: 96%;
    height: auto;
    min-height: 200px;
    overflow: auto;
    margin-top: 40px;
    color: #1d385a;
    font-size: 16px;
    border:none;
    box-shadow: 2px 2px 2px 2px #888888;
    border-radius: 2px;
    padding: 20px;
    /*background: #fafcff;*/
}

#content #content_right #main_body #_save {
    position: relative;
    float:right;
    margin-top: -40px;
}

#load_image {
    background: url("../img/loading.gif");
    display: inline;
}


#content #content_right #main_body #_save input[type="button"]  {
    display: inline;
    float:right;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 35px;
    margin-bottom: 10px;
    background: linear-gradient(#486180 10%, #8bacd4 100%);
    width: 120px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 2px #888888;
}

#content #content_right #main_body #_save input[type=button]:hover{
    background: linear-gradient(#8bacd4 10%, #486180 100%);
}



._facet_table {
    width: 100%;
    border: 1px solid #8c96a2;
    color: #1d385a;
    margin-top: 30px;
    margin-bottom: 30px;
    border-collapse: collapse;
}

._facet_table thead {
    border-bottom: 2px solid #8c96a2;

}

._facet_table tbody, th, td{
    border: 1px solid #8c96a2;
    padding: 10px;

}

._facet_table input[type="submit"] {
    width: 30px;
    display: inline;
    height: 30px;
    vertical-align: middle;
    margin-top: -4px;
    background: url("../img/circle_more.png");
    background-size: 100%;
    cursor: pointer;
    color:transparent !important;
    text-shadow:none !important;
    border:none !important;
    box-shadow:none !important;
}

._facet_table input[type="submit"]:hover {
    background: url("../img/circle_more.png");
    background-size: 100%;
}

/*
._hide_more {
      display: none;
      border-top: 1px solid #666;
      border-bottom: 1px solid #666;
      }
   a.showLink, a.hideLink {
      text-decoration: none;
      color: #36f;
      padding-left: 8px;

      }
   a.hideLink {
      background: transparent url(up.gif) no-repeat left; }
   a.showLink:hover, a.hideLink:hover {
      border-bottom: 1px dotted #36f;
      }
*/
._data_odd {
    background: #e0e3e8;
}


._editF {
    position: relative;
    float: right;
    margin-top: -50px;
}

._editF input[type="submit"]  {
    display: inline;
    float:right;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 35px;
    margin-bottom: 10px;
    background: linear-gradient(#486180 10%, #8bacd4 100%);
    width: 80px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 2px #888888;
 }

._editF input[type="button"] {
     display: inline;
     float:right;
     margin-top: 40px;
     margin-left: 15px;
     margin-right: 35px;
     margin-bottom: 10px;
     background: red; /*linear-gradient(#000000 10%, #8bacd4 100%);*/
     width: 80px;
     height: 30px;
     cursor: pointer;
     border-radius: 5px;
     color: #ffffff;
     font-size: 14px;
     font-weight: bold;
     border: none;
     box-shadow: 2px 2px 2px #888888;
  }

._editF input[type="button"]:hover{
       background: #b30000; /*linear-gradient(#000000 10%, #8bacd4 100%);*/
}

div.test {
    background:#cc1111;
    color: #add638;
    font-size: 18px;
}
div.tarea-radfa {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 70%;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background:  #f1f1f1; /*#a8bdd8;*/
    font-size: 13px;
    color: #888888;
    font-weight: bold;
}

div.input-radfa {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 50%;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color:  #a8bdd8; /*#a8bdd8;*/
    font-size: 13px;
    color: #1d385a;
    font-weight: bold;

}

.btTxt_add {
    display: inline;
   /* position: relative;
    float: right;
    margin-top: -45px;
    margin-right: 350px;
    width: 30px;
    height: 30px;*/
}
.btTxt_add input[type=text] {
    display: inline;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 50%;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color:  #ffffff; /*#a8bdd8;*/
    font-size: 13px;
    color: #1d385a;
    font-weight: bold;

}


.key_info { 
    position: absolute; 
}
.key_info a span { 
    display: none; 
    color: #1d385a; 
    background-color: #e0e3e8; 
    margin-left: 45px; 
    box-shadow: 1px 1px 1px 1px #888888; 
    padding: 5px;
}
.key_info a:hover span { 
    display: block; 
    position: absolute; 
    width: 500px; 
    background-color: #a8bdd8; 
    height: 200px; 
    left: 100px; 
    top: 10px; 
    color: #1d385a;
    padding: 10 5px; 
}


._delkey {
    input: block;
    margin: 20px;
}

._delph {
    input: block;
    margin: 20px;
}

._rmbtn {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background: url("../img/rm-icon.png");
    background-size: 100%;
    margin-right: 15px;
    cursor: pointer;
}

._totnum {
    display: block;
    width: 100%;
    margin-top: 20px;
}

.posts_res {
    display: block;
    width: 90%;
    height: auto;
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 20px;
    border: none;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px #888888;
    background: #e0e3e8;

}

._addbtn {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background: url("../img/plus.png");
    background-size: 100%;
    cursor: pointer;
}

._morebtn {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background: url("../img/circle_more.png");
    background-size: 100%;
    cursor: pointer;
}

.posts_st {
    margin-top: 20px;
    border-top: 1px solid #8c96a2;
    padding: 10px;
}

.posts_st_ul {
    display: inline;
    position: relative;
    width:auto;
}

.posts_st_ul li {
    display: inline;
    padding: 20px;
}

.facets_st_ul {
    display: inline;
    position: relative;
    width:auto;
}

.facets_st_ul li {
    display: block;
    padding: 5px;
}

.icon_size {
    display: inline;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    vertical-align: -6px;
}

select {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 70%;
    padding: 10px 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color:  #ffffff; /*#a8bdd8;*/
    font-size: 13px;
    color: #1d385a;
    font-weight: bold;
}

input[type="submit"]  {
    display: inline;
    float:right;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 35px;
    margin-bottom: 10px;
    background: linear-gradient(#486180 10%, #8bacd4 100%);
    width: 120px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 2px #888888;
}

input[type=submit]:hover{
    background: linear-gradient(#8bacd4 10%, #486180 100%);
}





div.main{
    width: 400px;
    padding: 10px 50px 25px 50px;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
    font-family: Arial;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #FFFFFF;
    position: relative;

}

input[type=text] {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 50%;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color:  #ffffff; /*#a8bdd8;*/
    font-size: 13px;
    color: #1d385a;
    font-weight: bold;

}

textarea {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 70%;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background:  #f1f1f1; /*#a8bdd8;*/
    font-size: 13px;
    color: #888888;
    font-weight: bold;
}


label{
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: bold;
}

/*
input[type=button]{
    font-size: 16px;
    background: linear-gradient(#4a6600 5%, #add638 100%);
    border: 1px solid #476200;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    outline:none;
}

input[type=submit]{
    font-size: 16px;
    background: linear-gradient(#4a6600 5%, #add638 100%);
    border: 1px solid #476200;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    outline:none;
}

input[type=button]:hover{
    background: linear-gradient(#add638 5%, #4a6600 100%);
}
*/